# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# Streamlit
.streamlit/secrets.toml

chroma_db/
*.sqlite3

# LangChain / vector stores
vectorstore/
faiss_index/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Temporary files
temp/
tmp/
*.tmp
